<div class="border adminWrapper">
    <ul class="list-group list-group-flush memberList">

        <a href="@Url.Action("Members", "Admin")" class="list-group-item list-group-item-action border-0 text-center py-3 @(ViewContext.RouteData.Values["action"]?.ToString() == "Members" ? "active" : "")">
            <i class="bi bi-people-fill me-2"></i>會員管理
        </a>
        <a href="@Url.Action("Rooms", "Admin")" class="list-group-item list-group-item-action border-0 text-center py-3 @(ViewContext.RouteData.Values["action"]?.ToString() == "Rooms" ? "active" : "")">
            <i class="bi bi-house-gear me-2"></i>房間管理
        </a>
        <a href="@Url.Action("Articles", "Admin")" class="list-group-item list-group-item-action border-0 text-center py-3 @(ViewContext.RouteData.Values["action"]?.ToString() == "Articles" ? "active" : "")">
            <i class="bi bi-house-gear me-2"></i>文章管理
        </a>
        <a href="@Url.Action("Contacts", "Admin")" class="list-group-item list-group-item-action border-0 text-center py-3 @(ViewContext.RouteData.Values["action"]?.ToString() == "Contacts" ? "active" : "")">
            <i class="bi bi-envelope me-2"></i>聯絡我們管理
        </a>
        <a href="@Url.Action("Analytics", "Admin")" class="list-group-item list-group-item-action border-0 text-center py-3 @(ViewContext.RouteData.Values["action"]?.ToString() == "Analytics" ? "active" : "")">
            <i class="bi bi-pie-chart-fill me-2"></i></i>統計管理
        </a>
    </ul>
</div>
