@using Zugether.DTO
@* 導入資料 *@
@model NotifyViewModel
<!-- 會員通知 -->
@{
	// 過濾掉 notify_status 為 "已撤回" 的通知
	var filteredNotifications = Model.InviteNotification
		.Where(notification => notification.notify_status != "已撤回")
		.ToList();
}

<div class="px-3 CustomizedScroll" style="height: 550px; overflow-y: scroll;">

@foreach (var notification in filteredNotifications)  @* <!-- 遍歷 List<Member> --> *@
{
	
	//判斷是否存在接受邀請的會員
	Member? invitee = Model.InviteeMembers.ContainsKey(notification.invitee_member_id)
				? Model.InviteeMembers[notification.invitee_member_id]
				: null;
	<div>
		<div class="card mb-3">
			<div class="row align-items-center">
				<div class="col-3 col-md-2 ">
					<div class="card-body ">
							@{
								if (invitee?.avatar != null)
								{
									string imageBase64 = Convert.ToBase64String(invitee?.avatar);
									string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
									<img src="@imageSrc" alt="" style="width: 4rem !important; height:4rem  !important;object-fit: cover; border-radius: 50%;" class="w-100 h-100">
								}
								else
								{
									<img src="~/images/peopleImg.png" style="width: 4rem !important; height:4rem  !important;object-fit: cover; border-radius: 50%;" alt="" class="rounded-circle object-cover w-100 h-100">
								}
							}
					</div><!-- 放置照片區塊 -->
				</div>
				<div class="col-9 col-md-10 ">
					<div class="card-body">
						<div class="d-md-flex flex-column flex-lg-row justify-content-between align-items-center">
							<div class="mb-3 mb-lg-0">
								<p class="d-flex align-items-center justify-content-center">
									<button type="button" class="invitee btn text-secondary me-1" id="loadMemberModal"
											style="margin-right: -12px;">
										@invitee?.name
									</button>
									@switch (notification.notify_status)
									{
										case "已同意":
											if (notification.is_finalized)
											{
												<i>已確認與您合租</i>
											}
											else
											{
												<i>已同意您的邀約</i>
											}
											break;
										case "已取消":
											<i>已取消您的邀約</i>
											break;
										default:
											<i>對方已收到合租邀約</i>
											break;
									}

								</p>
							</div>
							<div class="d-flex ">
								<button type="button" id="@(notification.notify_status == "已取消" ? "deleteBtn" : "withdrawBtn")" 
										class="inviter btn btn-danger expanded w-100 me-4 px-4"
										data-notification-id="@notification.notify_id"
								        @(notification.notify_status == "已同意" && notification.is_finalized ? "disabled" : "")>
									@(notification.notify_status == "已取消" ? "刪除" : "撤回邀約")
								</button>
							</div> <!-- 放置按鈕區塊 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<!-- 會員個人資料彈出視窗 已移至 Partial strat-->
<!-- 用來裝載模態框內容的容器，模態框內容將通過 AJAX 動態載入到這裡 -->
<div id="modal-container"></div>
<!-- 會員個人資料彈出視窗 end-->
</div>